$Primary:#123E56;
$Secondary:#DE8556;
$Success:#00C566;
$Error:#FF4747;
$Warning:#FACC15;
$Yellow:#FFC107;
$White:#FFFFFF;
$Grey10:#F6F6F6;
$Grey20:#ECF1F6;
$Grey30:#E3E9ED;
$Grey40:#D1D8DD;
$Grey50:#BFC6CC;
$Grey60:#9CA4AB;
$Grey70:#878690;
$Grey80:#818181;
$Grey90:#434E58;
$Grey100:#38343D;
$h1_size:56px;
$h2_size:48px;
$h3_size:38px;
$h4_size:24px;
$h5_size:18px;
$Xtra-Large:16px;
$Large:14px;
$Small:12px;
$weight400:400;
$weight500:500;
$weight600:600;
$weight700:700;
$weight800:800;
$fontCardo: Cardo;
$radius20:20px;